
body{
    position: relative;
}

header{width: 100%;height: 50px;position: absolute;top: 49px;left: 0;}

img{
    position: relative;
    z-index: 2;
}

#overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.42);
}

#title-position-controller{
    /* border: 3px red solid; */
    position: relative;
    width: 100%;
    left: 0;
    top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 23%;
    z-index: 3;
}



#nav-bar-container{
    display: flex;
    justify-content: space-around;
    padding: 0px 20px;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 15vh;
    position: absolute;
    top: -50px;
    left: 0;
    background-color: var(--White);
    z-index: 100;
    opacity: 1;
    transform: translateY(0%);
    animation: slide-from-top-and-fade-in 1s forwards;
}

#nav-bar-container.initial{
    display: none;
}

#nav-bar-container.hidden{
    opacity: 1;
    transform: translateY(0%);
    animation: slide-from-bottom-fade-out 1s forwards;
}


#nav-bar{
    align-items: center;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#nav-bar img{
    position: absolute;
}

#nav-bar > *:hover{
    color: var(--Darker-Gray);
}

header h2{
    display: inline-block;
    font-size: 2rem;
    font-weight: 500;
    color: var(--White);
    text-align: center;
}

header img{
    width: 10%;
    position: relative;
    display: inline-block;
    opacity: 0.5;
}

header img:hover{
 opacity: 1;
}

#scrollable-feature-container, #about-container{
    width: 100%;
    overflow-y: hidden;
}


#scrollable-feature-info-container, #about-info-container{
    padding: 40px 20px;
    opacity: 0;
    /* animation: slide-from-bottom-and-fade-in 3s forwards; */
}

#scrollable-feature-info-container.show, #about-info-container.show{
       animation: slide-from-bottom-and-fade-in 3s forwards;
       opacity: 1;
}


.scrollable-feature-header{
    width: 95%;
    margin-bottom: 1.25rem;
    font-size: 35px;
    color: var(--Black)
}

.scrollable-feature-content{
    width: 95%;
    line-height: 1.355;
    color: var(--Dark-Gray);
    margin-bottom: 10px;
}

#shop-link{
    width: 75%;
    display: flex;
    align-items: center;
}

#shop-link div{

    width: 70%;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 5px;
    word-spacing: 7px;
    text-transform: uppercase;
    color: var(--Black);

}

#shop-link div:hover{
    color: var(--Darker-Gray);

}

#shop-link img{
    width: 50px;
    height: 50px;
    transition: transform 1s;
}

#shop-link div:hover + img {
    transform: translate(10px);
 
 }


#about-header{
    width: 95%;
    margin-bottom: 20px;
    font-size: 1.0625rem;
    letter-spacing: .3rem;
    text-transform: uppercase;
    color: var(--Black);
    
}

#about-content{
    width: 100%;
    line-height: 1.5;
    font-size: 0.9375rem;
    color: var(--Dark-Gray);
    /* margin-bottom: 10px; */
}


/* ipads, tablets */

@media only screen and (min-width: 530px) and (max-width: 1023px) {

    #scrollable-feature-container, #about-container{
        width: 100%;
        text-align: center;

    }

    #scrollable-feature-container{
        width: 100%;
    }

    #about-container{
        width: 100%;
    }

    #about-header{
        transform: translateX(5%);
    }

    .scrollable-feature-content {
        margin-bottom: 30px;
    }

    #shop-link {
        position: relative;
        left: -6px;
        margin: 0 auto;
        width: 45%;
      }

}
/* animations / keyframes */

@keyframes slide-from-top-and-fade-in{
    0%{
        opacity: 0;
        transform: translateY(-100%);
    }
    95%{
        opacity: 1;
    }
    100%{
        transform: translateY(0%);
    }
}


@keyframes slide-from-bottom-and-fade-out{
    0%{
        opacity: 1;
        transform: translateY(0%);
    }
    95%{
        opacity: 0;
    }
    100%{
        transform: translateY(-100%);
    }
}

@keyframes slide-from-bottom-and-fade-in{
    0%{
        opacity: 0;
        transform: translateY(50%);
    }
    90%{
        opacity: 1;
    }
    100%{
        transform: translateY(0%);
    }
}




